/* CSS (Folha de estilho em cascata ) 

SELETORES {
PROPRIEDADE: VALORES;

}
*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #222831;
    

}
h1, h2,h3,h4,h5,h6 {
    margin: 0;
}
h1 {
color: #393E46;
font-size: 32px;


}
h2 {
    color: #222831;
    font-size: 20px;
}

p{
    color: #666666;

}

/* formatando todos os <a> que estão dentro da div links*/
.card{
    background-color: #EEEEEE ;
    width: 340px;
    height: auto;
    text-align: center;
    /* HACKER para centralizar uma div*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 30px;
    border-radius: 10px;
}
.card img{

    /*border-color: #222831;
    border-width: 5px;
    border-style: solid;*/
    border: solid 5px #222831;
    /*sempre que for arredonadar sempre deixar com 50% */
    border-radius: 50%;
    margin-bottom: 30px;
}
.links a {
    color: #ffffff;
    display: block;
    margin-bottom: 5px;
    background-color:#393E46;

   /*ESPAÇAMENTO INTERNO*/ 
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border-radius: 3px;
}
/* AO PASSAR O MOUSE POR CIMA  MUDA DE COR */
 .links a:hover{
background-color: #000;

 }
 /* enquanto o click estiver ativo - pressionando*/
 .links a:active{
    color: #ff0000;
    
}
/* link visitado
 .links a:visited{
    color: #57b400;
    
}*/


.assinatura{
    color: #222831;
    /* este comando permite que  o elemento seja linha e bloco ao mesmo tempo, deixando que o msm se movimente vertical e horizontalmente */
    display: inline-block;
    margin-top: 30px;
   
}

/* Media Queries*/
/* Condicinais para mudança de design*/

@media (max-width:600px){

h1{
    font-size: 24px;
}

h2{
    font-size: 18px;
}
.card{
    padding: 15px;
    width: 310px;
    background-color:  #EEEEEE;
};

.card img{
    width: 70px;
    margin-bottom: 10px;
}


.assinatura{
    margin-top: 15px;
}







}